body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15rem 1rem 15rem;
}

.header_left h3 {
  display: inline;
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
  font-style: italic;
  padding-left: 1rem;
  /* class 선택자와 h3 선택자를 활용한 예 */
}

i {
  font-size: 1.5rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.fa-instagram {
  font-size: 1.8rem;
  border-right: 1px solid black;
}

.hr {
  margin: 0;
}

main {
  background-color: #efefef;
  height: 100%;
}

.intro div {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.pic {
  border-radius: 100%;
  width: 160px;
  height: 160px;
  margin-right: 5vw;
}

.profile h1 {
  display: inline;
}

.num {
  display: flex;
}

.num p {
  margin-right: 1rem;
}

.story {
  display: flex;
  padding: 3rem 20rem 3rem 20rem;
}

.story div {
  margin-left: 1rem;
  text-align: center;
}

.story img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.records {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: repeat(3, 300px);
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
  padding: 1rem 10rem 10rem 10rem;
}

.records img {
  width: 300px;
  height: 300px;
}

@media (max-width: 500px) {
  .records {
    display: none;
  }
}

@media (min-width: 1025px) {
  .body_text2 {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
    border-top: 1px solid rgb(197, 197, 197);
    padding-top: 2rem;
  }

  .body_text {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: auto;
    border-top: 1px solid rgb(197, 197, 197);
    padding-top: 2rem;
  }
}

@media (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: flex-start;
  }
  .intro div {
    justify-content: flex-start;
  }
  .body_text {
    display: none;
  }
  .body_text2 {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: repeat(4, 2px);
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
    border-top: 1px solid rgb(197, 197, 197);
    padding-top: 2rem;
  }
}

@media (max-width: 768px) {
  .body_text2 {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: repeat(4, 2px);
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
    border-top: 1px solid rgb(197, 197, 197);
    padding-top: 2rem;
  }
}
@media (max-width: 700px) {
  .body_text2 {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: repeat(4, 2px);
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
    border-top: 1px solid rgb(197, 197, 197);
    padding-top: 2rem;
  }
}
